html {
  font-size: 10px;
  background: url('./fuji.jpg') bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.allkeys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  /* top: 500px; */

}


.keys {
  display: flex;
  flex: 1;
  min-height: 20vh;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20px;

}



.key {
  border: .4rem solid black;
  border-radius: 2rem;
  margin: 1rem;
  font-size: 1.8rem;
  padding: 1rem .5rem;
  transition: all .1s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.5);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ec7dab;
  box-shadow: 0 0 1rem #ec7dab;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.8rem;
  text-transform: lowercase;
  letter-spacing: .1rem;
  color: #ec7dab;
}


